name: Niffler tests on python

on:
  pull_request:
    types: [ opened, reopened, synchronize ]

jobs:
  python_tests:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create environment files
        run: |
          cat > niffler-e-2-e-tests-python/.env << EOF
          
          FRONTEND_URL: http://frontend.niffler.dc
          GATEWAY_URL: http://gateway.niffler.dc:8090
          REGISTRATION_URL: http://auth.niffler.dc:9000
          PROFILE_URL: http://frontend.niffler.dc/profile
          SPEND_DB_URL: postgresql+psycopg2://postgres:secret@gateway.niffler.dc:5432/niffler-spend
          USERDATA_DB_URL: postgresql+psycopg2://postgres:secret@gateway.niffler.dc:5432/niffler-userdata
          AUTH_DB_URL: postgresql+psycopg2://postgres:secret@localhost:5432/niffler-auth
          TEST_USERNAME: niffler_st3
          TEST_PASSWORD: Qwdr!ss2
          KAFKA_ADDRESS: localhost
          SOAP_ADDRESS: http://localhost:8089/ws
          EOF

      - name: Python Install
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: JDK Install
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Build containers
        run: |
          bash docker-compose-dev.sh

      - name: Edit hosts
        run: |
          echo -e "127.0.0.1\tlocalhost\n127.0.0.1\tfrontend.niffler.dc\n127.0.0.1\tauth.niffler.dc\n127.0.0.1\tgateway.niffler.dc\n127.0.0.1\tuserdata.niffler.dc\n127.0.0.1\tkafka" | sudo tee -a /etc/hosts

#      - name: Install python dependencies
#        working-directory: ./niffler-python-tests
#        run: pip install --upgrade -r requirements.txt

      - name: Install dependencies
        working-directory: ./niffler-e-2-e-tests-python
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install --no-interaction --no-ansi --no-root

      - name: Install Chrome
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Run tests
        working-directory: ./niffler-e-2-e-tests-python
        timeout-minutes: 10
        run: pytest -n 4 --dist=worksteal

      - name: Upload Logs as artifact
        uses: actions/upload-artifact@v4
        with:
          name: pytest-logs
          path: niffler-e-2-e-tests-python/logs

      - name: Load test report history
        uses: actions/checkout@v3
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: niffler-e-2-e-tests-python/allure-history

      - name: Generate Allure Report
        if: always()
        uses: simple-elf/allure-report-action@v1
        with:
          allure_results: niffler-e-2-e-tests-python/allure-results
          allure_history: niffler-e-2-e-tests-python/allure-history
          allure_report: niffler-e-2-e-tests-python/allure-report

      - name: Upload Allure Report as artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: niffler-e-2-e-tests-python/allure-report

      - name: Deploy Allure Report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: niffler-e-2-e-tests-python/allure-history










#jobs:
#  python_tests:
#    runs-on: ubuntu-latest
#
#    env:
#      FRONTEND_URL: http://frontend.niffler.dc
#      GATEWAY_URL: http://gateway.niffler.dc:8090
#      REGISTRATION_URL: http://auth.niffler.dc:9000
#      PROFILE_URL: http://frontend.niffler.dc/profile
#      SPEND_DB_URL: postgresql+psycopg2://postgres:secret@gateway.niffler.dc:5432/niffler-spend
#      USERDATA_DB_URL: postgresql+psycopg2://postgres:secret@gateway.niffler.dc:5432/niffler-userdata
#      AUTH_DB_URL: postgresql+psycopg2://postgres:secret@localhost:5432/niffler-auth
#      TEST_USERNAME: niffler_st3
#      TEST_PASSWORD: Qwdr!ss2
#      KAFKA_ADDRESS: localhost
#      SOAP_ADDRESS: http://localhost:8089/ws
#
#    steps:
#      - name: Checkout repository
#        uses: actions/checkout@v4
#        with:
#          ref: ${{ env.GITHUB_SHA }}
#
#      - name: Setup Python
#        uses: actions/setup-python@v5
#        with:
#          python-version: '3.13'
#          cache: 'pip'
#      - name: installing poetry
#        uses: abatilo/actions-poetry@v4
#      - name: Load cached venv
#        uses: actions/cache@v3
#        with:
#          path: venv
#          key: venv-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}
#
#      - name: Set up JDK 21
#        uses: actions/setup-java@v4
#        with:
#          java-version: '21'
#          distribution: 'temurin'
#
#      - name: Build backends
#        run: |
#          bash docker-compose-dev.sh
#
#      - name: Edit hosts file
#        run: |
#          echo -e "127.0.0.1\tlocalhost\n127.0.0.1\tfrontend.niffler.dc\n127.0.0.1\tauth.niffler.dc\n127.0.0.1\tgateway.niffler.dc\n127.0.0.1\tkafka" | sudo tee -a /etc/hosts
#
#      - name: Install dependencies
#        working-directory: ./niffler-e-2-e-tests-python
#        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
#        run: poetry install --no-interaction --no-ansi --no-root
##        run: pip install --upgrade -r requirements.txt
#
#      - name: Install Chrome
#        run: |
#          sudo apt-get update
#          sudo apt-get install -y google-chrome-stable
#
#      - name: Run tests
#        if: always()
#        working-directory: ./python_test
#        run: pytest --alluredir=./allure-results ./test -m sequential
#
#      - name: Run parallel tests
#        if: always()
#        working-directory: ./niffler-e-2-e-tests-python
##        run: poetry run pytest tests --junit-xml=test-results.xml
#        run: pytest -n 4 --dist=worksteal --alluredir=./allure-results
#
#      - name: Load test report history
#        uses: actions/checkout@v3
#        if: always()
#        continue-on-error: true
#        with:
#          ref: gh-pages
#          path: niffler-e-2-e-tests-python/allure-history
#
#      - name: Generate Allure Report
#        if: always()
#        uses: simple-elf/allure-report-action@v1.8
#        with:
#          allure_results: niffler-e-2-e-tests-python/allure-results
##          allure_history: niffler-e-2-e-tests-python/allure-history
#          allure_report: niffler-e-2-e-tests-python/allure-report
#
#      - name: Upload Allure Report as artifact
#        if: always()
#        uses: actions/upload-artifact@v4
#        with:
#          name: allure-report
#          path: niffler-e-2-e-tests-python/allure-report
#
#      - name: Deploy Allure Report to GitHub Pages
#        if: always()
#        uses: peaceiris/actions-gh-pages@v3
#        with:
#          github_token: ${{ secrets.GITHUB_TOKEN }}
#          publish_branch: gh-pages
#          publish_dir: niffler-e-2-e-tests-python/allure-history